*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.light {
    --bClr: #e8f7ee;
}
body {
    background: var(--bClr);
    font-family: sans-serif;
    font-size: 25px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 40rem;
    height: 30rem;
    background-color: #b8c4bb;
    display: grid;
    grid-template-rows: repeat(1fr, 3);
    justify-content: center;
    align-items: center;
    border: 0.2px solid black;
    border-radius: 10px;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: 0.2px solid black;
    border-radius: 30px;
    box-shadow: 3px 3px gray;
    font-family: "roboto mono", monospace;
}
.text {
    color: #fff;
    margin: 15px;
}

.hour {
    font-size: 33px;
}

.minute {
    font-size: 33px;
}

.second {
    font-size: 33px;
}

.milisecond {
    font-size: 33px;
}

.click {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    border-color: #000;
    margin: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #b8c4bb;
    color: #fff;
    border-color: #fff;
    transition-duration: 0.5s;
}

.laps {
    list-style: none;
    color: #fff;
    position: relative;
    overflow: auto;
    height: 130px;
}

.laps::-webkit-scrollbar {
    display: none;
}
.lap-items {
    display: block;
    width: 100%;
    background-color: transparent;
    text-align: center;
    border: 0.2px solid black;
    font-size: 17px;
    border-radius: 50px;
    margin: 5px 0;
    transition: 0.5s;
}

.lap-items:hover {
    background-color: #fff;
    color: #000;
}

.time-stamp {
    display: inline-block;
    margin: 10px;
}
.reset {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    visibility: hidden;
}
