.light {
  --bkgrndClr1: #eff8e2;
  --bkgrndClr2: #573280;
  --fntClr1: #cecfc7;
  --fntClr2: #23022e;
  --btnClr: #ada8b6;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bkgrndClr1);
}
